* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

h2{
    text-align: start;
    color: #24303c;

}

#Flota{
    width: 100%;
    text-align: center;
    color: #ccc;
    background-color: #24303c;

}
.fondo{
  
    background-image: url(imagenes/21960.jpg);
    width: 100%;   
 }
  
  .form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .inputs {
    width: 100%;
    background: #d3d3d3;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #3e4350;
    font-family: 'calibri';
    font-size: 18px;
    color: #24303c;
  }


#articulos article{
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;}  
 
#articulos h4{
        text-transform: uppercase;
        font-weight: 600;
        text-align: justify; }
#articulos h3{
        font-weight: 600;}
#articulos p{font-size: 1em;text-align: justify;}

.exterior-text {
    padding: 1rem;
    background: #f6f6f6;
    flex-direction: column;
    padding-left: 3rem;
    position: relative;
    padding-right: 3rem;
}
